.layout{
  margin: 2.5rem auto;
  max-width: 900px;
}

.title{
  text-align: center;
  margin-bottom: 2rem;
}

.action{
  text-align: right;
  :global{
    .btn{
      &:not(:last-child){
        margin-right: 1rem;
      }
    }
  }
}
